* {
    margin: 0%;
    padding: 0%;
}


/* .header {
    background: #8dc63f !important;
} */

.headr {
    width: 100%;
    background: #0d6db7!important;
}

.fa-brands {
    color: white;
}

p {
    color: white;
}

.badge {
    color: #8dc63f;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
a {
    color: #fff;
    text-decoration: none
}

.news {
    width: 80%;
    height: 20px;
    background: #0d6db7;
}

.news marquee {
    font-size: 12px;
    margin-top: 2px
}

.news-content p {
    display: inline
}

.highlight {
    color: rgb(1, 49, 3);
}

.textt {
    color: #08115e;
    background: #cec8c8 !important;
}

.txt_2 {
    color: #0d6db7!important;
}

.txt_para {
    color: black;
}

a {
    color: #08115e;
}

.icon {
    color: #08115e !important;
    font-size: 70px;
}

.margin_b {
    margin-bottom: 100px;
}

.counter {
    background: #fff;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding: 15px;
    border: 15px solid #e7e7e7;
    border-radius: 15px;
}

.counter .counter-icon {
    color: #fff;
    background-color: #8dc63f;
    font-size: 35px;
    line-height: 70px;
    width: 70px;
    height: 70px;
    margin: 0 auto 15px;
    border-radius: 50%;
}

.counter .counter-value {
    color: #222;
    font-size: 35px;
    font-weight: 300;
    margin: 0 0 17px;
    display: block;
}

.counter h3 {
    color: #fff;
    background-color: #8dc63f;
    /* background-color: #018580; */
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: capitalize;
    padding: 8px 5px;
    margin: 0;
    border-radius: 15px;
}

.counter.red .counter-icon,
.counter.red h3 {
    background-color: #8dc63f;
}

.counter.purple .counter-icon,
.counter.purple h3 {
    background-color: #885E6B;
}

.counter.orange .counter-icon,
.counter.orange h3 {
    background-color: #FF8345;
}

@media screen and (max-width:990px) {
    .counter {
        margin-bottom: 40px;
    }
}

.immg {
    margin-right: -200px;
}